%h2
  Recipe
  %br/
  %h3
    = link_to @recipe.name, @recipe
  = @recipe.description 
%h2  
  Batch
  %br/
  %h3
    = @batch.name

- @batch.ingredients.each do |ingredient|
  = div_for(ingredient) do
    = ingredient.qty
    = ingredient.units
    = ingredient.name
    
= render :file => 'ingredients/new'
