%p#notice= notice
%h2
  =@batch.recipe.name
  
%table
  %tr
    %th

  - @batch.ingredients.each do |ingredient|
    %tr
      %td= ingredient.qty
      %td= ingredient.units
      %td= ingredient.name

= link_to 'Edit', edit_recipe_batch_path(@batch)
\|
= link_to 'Back', recipe_path
